/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400&family=Inter:wght@100;200;300;400&family=Montserrat:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600&display=swap');
/* import css variables */
@import  url(partials/_variables.css);
/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Inter', sans-serif; */
/* font-family: 'Inconsolata', monospace; */
/* font-family: 'Poppins', sans-serif; */

body {
    animation: fadeIn ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
  
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

@keyframes slideIn {
    0% {
        transform: translateX(-500px);
    }
    60% {
        transform: translateX(0px);
    }
    62% {
        transform: translateX(20px);
    }
}

@keyframes slideDown {
    0% {
        transform: translateY(-500px);
    }
    60% {
        transform: translateY(0px);
    }
    62% {
        transform: translateY(20px);
    }
}
 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 10px); }
    100%   { transform: translate(0, -0px); }   
}



/******************************************************************************/
/******************************** Footer Area *********************************/
/******************************************************************************/

@media (min-width: 400px) { /* Small device */
    footer.footer-area {
        padding: 3% 0;
        background: #333333;
        margin-top: 1rem;
    }

    footer.footer-area .social a > ion-icon {
        font-size: 22px;
        padding: 1rem;
        color: #FFF;
        transition: transform .2s;
    }

    footer.footer-area .social a:hover > ion-icon {
        color: #FFF;
        transform: scale(1.1); 
    }

    /* Side nav bar */
    .nav {
        position: fixed;
        bottom: 0;
        right: 1%;
        overflow-y: auto; 
        z-index: 5;
    }

    .nav a > ion-icon {
        font-size: 22px;
        padding: 0.4rem;
        color: var(--primary-black);
        transition: transform .2s;
    }

    .nav a:hover > ion-icon {
        color: var(--primary-black);
        transform: scale(1.1); 
    }

    /* Navigation Bar */
    .navbar {
        opacity: 0.9;
        margin-top: 0;
    }

    .navbar-brand {  /* joanne tsai */
        padding: 0.5rem 1rem 0.5rem 6vw;
        font-family: 'Poppins', sans-serif;
        font-size: 22px;
        font-weight: 600;
        color: var(--primary-black);
    }

    .navbar-nav {
        margin-right: 25%; /* distance between right border and last nav item */
        font-family: 'Poppins', sans-serif;
        font-size: 17px;
        font-weight: 300;
        color: var(--primary-black);
    }

    .nav-item { /* nav tabs */
        padding: 0.9rem 0 0.5rem 2.8rem;
    }

    /* .nav-item a:hover {
        color: var(--primary-blue);
    } */

    .nav-item .active {
        text-decoration: underline;
        text-underline-position: under;
    }

}
@media (min-width: 992px) { /* Large device */
    footer.footer-area {
        background: #595958;
        margin-top: 3%;
    }
    
    /* footer.footer-area .social a > ion-icon {
        font-size: 22px;
        padding: 1rem;
        color: #FFF;
        transition: transform .2s;
    }
    
    footer.footer-area .social a:hover > ion-icon {
        color: #FFF;
        transform: scale(1.1); 
    } */

    /* Side nav bar */
    .nav {
        position: fixed;
        bottom: 0;
        right: 1%;
        overflow-y: auto; 
        z-index: 5;
        /* it will have the scroll if it has more content */
    }

    /* .nav a > ion-icon {
        font-size: 22px;
        padding: 0.4rem;
        color: var(--primary-black);
        transition: transform .2s;
    }

    .nav a:hover > ion-icon {
        color: var(--primary-black);
        transform: scale(1.1); 
    } */

    /* Navigation Bar */
    .navbar {
        opacity: 0.8;
    }

    .navbar-brand {  /* joanne tsai */
        padding: 0.6rem 0 0.6rem 13.5%;
        font-family: 'Outfit', sans-serif;
        font-size: 1.6rem;
        font-weight: 400;
    }

    .nav-item { /* nav tabs */
        padding: 0.6rem 20% 0.5rem 0;
    }

    .navbar-nav {
        margin-top: 0;
        margin-right: 25%; /* distance between right border and last nav item */
        font-family: 'Outfit', sans-serif;
        font-size: 1.2rem;
        font-weight: 200;
    }

    .nav-item .active {
        text-decoration: underline;
        text-underline-position: under;
    }

    /******************************************************************************/
/****************************** Get in Touch Area *****************************/
/******************************************************************************/
    /* Get in Touch text */
    .bottom-main .about-area {
        background: #393b3f;
        margin-top: 3%;
    }

    .bottom-main .about-area .getInTouch .dot3-1 {
        width: 250px;
        height: 250px;
        background-image: linear-gradient(to left, #fbd77a , #e5cf9b);
        border-radius: 50%;
        margin-left: 33%;
        display: inline-block;
        opacity: 0.9;
        position: relative;
        animation-name: floating;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
    }

    .about-area .getInTouch .dot3-2 {
        display: None;
    }
    .about-area .getInTouch .dot3-2 .about-text-sm {
        display: none;
    }
/* .about-area .getInTouch .about-text {
    padding-top: 43%;
    font-weight: 300;
    margin-left: 29%;
    margin-right: 0;
    font-size: 18px;
    line-height: 32px;
    color: #333;
} */

    .bottom-main .about-area .getInTouch .dot3-1 h3 {
        margin-left: 37%;
        margin-top: 36%;
        margin-bottom: 0;
        position: absolute;
        color: #393b3f;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 1.6rem;
    }

    .bottom-main .about-area .getInTouch .dot3-1 h3::after{
        content: " ";
        height: 1.5px;
        width: 10.5vw;
        background: #393b3f;
        display: inline-block;
        margin-left: 5%; /* not align with headings */
        transform: translateY(-12.5px);
    }

    /* Contact Information Button */
    .bottom-main .about-area .getInTouch-info button {
        background: transparent;
        transition: transform .2s;
        color: #FFF;
        border: 1px solid #AAB3FF;
        border-radius: 50px;
        padding: 15px 30px 15px 30px;
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        font-size: 0.9rem;
        margin: 0 1% 1% 5%;
    }

    .bottom-main .about-area .getInTouch-info button:hover {
        transform: scale(1.05); 
        background: transparent;
        transition: transform .2s;
        color: #FFF;
        border: 1px solid #AAB3FF;
        border-radius: 50px;
        padding: 15px 30px 15px 30px;
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        font-size: 0.9rem;
        margin: 0 1% 1% 5%;
    }

    /* Text Line 1 */

    .bottom-main .about-area .getInTouch-info .getInTouch-ThankYou {
        color: #FFF;
        font-family: 'Poppins', sans-serif;
        font-size: 1rem;
        font-weight: 200;
        margin-top: 4%;
        margin: 0 1% 0 5%;
    }

    /* Text Line 2 */
    .bottom-main .about-area .getInTouch-info .getInTouch-reachMe {
        color: #FFF;
        font-family: 'Poppins', sans-serif;
        font-size: 1rem;
        font-weight: 200;
        margin: 2.8% 1% 3% 5%;
    }

    .bottom-main .about-area .getInTouch-info .copyrights {
        color: rgb(197, 197, 197);
        font-family: 'Outfit', sans-serif;
        opacity: 0.9;
        font-size: 1rem;
        font-weight: 200;
        margin-top: 5%;
        margin-bottom: 2%;
        margin-left: 5%;
    }

}



