.site-main > .site-banner .intro {
    margin: 26% 0 0 0;
}

@media (min-width: 400px) { /* Small device */
    .card-title {
        width: 23ch;
        animation: typing 2.5s steps(25), blink .7s step-end infinite alternate;
        white-space: nowrap;
        overflow: hidden;
        border-right: 3px solid;
        font-size: 2em;
    }
    
    @keyframes typing {
        from {
            width: 0
        }
    }
        
    @keyframes blink {
        50% {
            border-color: transparent
        }
    }

    .site-main > .site-banner .intro h5 {
        font-family: 'Poppins', sans-serif;
        color: #61bcad;
        margin: 0 0 0 0;
        font-size: 1.5rem;
    }

    .site-main > .site-banner .intro p { /* intro text in the box */
        font-family: 'Jost', sans-serif;
        color: var(--primary-black);
        font-weight: 300;
        margin: 2rem 12vw 0 0;
        font-size: 0.9rem;
        line-height: 28px;
    }

    .site-main .site-banner .banner-image > img {
        margin: 1rem 0 0 14vw;
        width: 20rem;
        border-radius: 18%;
    }

    /* headings in bubbles */
    .about-area .about-intro h3 {
        margin: 0 0 0 2.5vw;
        position: relative;
        color: #61bcad;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 7vw;
    }
    
    .about-info {
        margin: 1.7rem 1.5vw 0 1.5vw;
        font-size: 0.9rem;
        font-weight: 300;
        font-family: 'Poppins', sans-serif;
    }

    .about-area .about-experience .hyperlink {
        text-decoration: none;
        color: #333333;
    }
    
    .about-area .about-experience .hyperlink:hover {
        color: #333333;
        font-weight: 500;
    }
    
    .about-area .about-experience .hyperlink:visited {
        text-decoration: none;
        font-weight: 500;
        color: #333333;
    }
    
    .about-area .about-experience .hyperlink:links {
        text-decoration: none;
        font-weight: 500;
        color: #333333;
    }
    
    /* Experience table */
    /* .about-info .table {
        margin: -6% 0 0 1.5vw;
    } */
    
    .about-info .table, tr, td {
        border: none;
    }
    
    /* Experience section text */

    .about-area .about-experience-heading {
        font-weight: 700;
        font-family: 'Poppins', sans-serif;
        transition: transform .2s;
        color: #b5b2c5;
    }

    .about-area .about-coursework h3 {
        margin: 0 0 0 2.5vw;
        position: relative;
        color: #61bcad;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 7vw;
    }
    
    .about-area .about-coursework h3::after{
        margin: 0 0 0 2.5vw;
        position: relative;
        color: #61bcad;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 7vw;
    }

    /********************** Accordions **********************/
    .about-area .about-info .accordion-item {
        font-family: 'Poppins', sans-serif;
        color: var(--primary-black);
        background: rgb(252, 255, 250);
        font-size: 1.2rem;
        border-radius: 10px;
        margin-bottom: 6px;
    }
    
    .about-area .about-info .accordion-button.collapsed {
        color: #7b81bb;
        background: #FFF;
        opacity: 0.8;
        border-radius: 10px;
        font-weight: 400; /* course name title */
    }
    
    .about-area .about-info .accordion-button:not(.collapsed) {
        color: #7b81bb;
        border: 2.5px solid #7b81bb;
        opacity: 0.8;
        font-weight: 500;
        border-radius: 10px;
        background: #FFF;
    }
    
    .about-area .about-info .accordion-button:not(.collapsed)::after {
        filter: brightness(0%) invert(100%);
    }
    
    .about-area .about-info .accordion-button:focus {
        box-shadow: inherit;
    }
    
    .about-area .about-info .accordion-body {
        background: #FFF; /* content background */
        border-radius: 10px;
        font-size: 0.9rem;
        font-family: 'Inter', sans-serif;
    }

    /**************************************************************************/
    /***************************** Get in Touch Area **************************/
    /**************************************************************************/
    .about-area .getInTouch .dot3-1 .about-text {
        display: none;
    }

    .about-area .getInTouch .dot3-2 .about-text-sm {
        margin: -10rem 0 0 2.5vw;
        position: relative;
        color: #61bcad;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 7vw;
    }

    /* Contact Information Button */
    .bottom-main .about-area .getInTouch-info button {
        background: transparent;
        transition: transform .2s;
        border: 1px solid #AAB3FF;
        border-radius: 50px;
        padding: 16px 30px 16px 30px;
        font-family: 'Poppins', sans-serif;
        font-size: 0.9rem;
        font-weight: 300;
        margin: 1.5rem 0 0 2.5vw;
    }

    .bottom-main .about-area .getInTouch-info button:hover {
        transform: scale(1.05);
        background: transparent;
        border: 1px solid #AAB3FF;
        border-radius: 50px;
        padding: 16px 30px 16px 30px;
        font-family: 'Poppins', sans-serif;
        font-size: 0.9rem;
        font-weight: 300;
        margin: 1.5rem 0 0 2.5vw;
    }

    /* Text Line 1 */
    .bottom-main .about-area .getInTouch-info .getInTouch-ThankYou {
        color: var(--primary-black);
        font-family: 'Poppins', sans-serif;
        font-size: 0.9rem;
        font-weight: 300;
        margin: -17vw 0 0 2.5vw;
    }

    /* Text Line 2 */
    .bottom-main .about-area .getInTouch-info .getInTouch-reachMe {
        color: var(--primary-black);
        font-family: 'Poppins', sans-serif;
        font-size: 0.9rem;
        font-weight: 300;
        margin: 4vw 0 0 2.5vw;
    }

    /* Get in Touch title */
    .site-main .getInTouch-info h3 {
        margin: 0 0 0 2.5vw;
        position: relative;
        color: #61bcad;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 7vw;
    }

    .dot3-1 {
        display: none;
    }
}

@media (min-width: 768px) { /* Medium device */
    .site-main > .site-banner .intro h5 {
        font-family: 'Poppins', sans-serif;
        color: #61bcad;
        padding-left: 2rem;
        margin: 0 10vw 0 2.5vw;
        font-size: 2rem;
    }
    .site-main > .site-banner .intro p { /* intro text in the box */
        font-family: 'Poppins', sans-serif;
        color: var(--primary-black);
        font-weight: 300;
        margin: 2rem 10vw 0 2.5vw;
        font-size: 0.9rem;
        line-height: 28px;
    }
}

@media (min-width: 992px) { /* Large device */
    .site-main > .site-banner .intro h5 {
        font-family: 'Outfit', sans-serif;
        color: #869d7b; 
        font-size: 1.8rem;
        margin: -15% auto 0 13%;
        width: 20ch;
        animation: typing 2s steps(25), blink .7s step-end infinite alternate;
        white-space: nowrap;
        overflow: hidden;
        border-right: 3px solid;
    }
    .site-main > .site-banner .intro p { /* intro text in the box */
        font-family: 'Poppins', sans-serif;
        color: var(--primary-black);
        font-weight: 300;
        margin: 2rem 4% 0 17.5%;
        font-size: 0.9rem;
        line-height: 28px;
    }
    
    @keyframes typing {
        from { width: 0 }
    }
        
    @keyframes blink {
        50% { border-color: transparent }
    }

    .site-main .site-banner .banner-image > img {
        margin: 25% 0 0 4rem;
        width: 20rem;
        border-radius: 50%;
        animation-name: floating;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
    }

    .dot1 {
        width: 250px;
        height: 250px;
        background-image: linear-gradient(to left, #5965cf , #8f95c7);
        border-radius: 50%;
        margin-left: 33%;
        display: inline-block;
        opacity: 0.9;
        position: relative;
        animation-name: floating;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
    }
    
    .dot2 {
        width: 250px;
        height: 250px;
        background-image: linear-gradient(to left, #acc896 , #bddba6);
        border-radius: 50%;
        margin-left: 33%;
        display: inline-block;
        opacity: 0.9;
        position: relative;
        animation-name: floating;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
    }

    /* headings in bubbles */
    .about-area .about-intro h3 {
        margin-left: 37%;
        margin-top: 43%;
        margin-bottom: 0;
        position: absolute;
        color: #FFF;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 1.6rem;
    }

    .about-area .about-intro h3::after{
        content: " ";
        height: 1.5px;
        width: 10.5vw;
        background: #FFF;
        display: inline-block;
        margin-left: 5%; /* not align with headings */
        transform: translateY(-7.5px);
    }

    .about-area .about-experience .hyperlink {
        text-decoration: none;
        color: #333333;
    }
    
    .about-area .about-experience .hyperlink:hover {
        color: #333333;
        font-weight: 500;
    }
    
    .about-area .about-experience .hyperlink:visited {
        text-decoration: none;
        font-weight: 500;
        color: #333333;
    }
    
    .about-area .about-experience .hyperlink:links {
        text-decoration: none;
        font-weight: 500;
        color: #333333;
    }

    .site-intro .intro .card-text a {
        text-decoration: none;
        color: #8489bd;
        font-weight: 500;
    }
    .site-intro .intro .card-text a:hover {
        color: #8489bd;
        font-weight: 500;
    }
    
    .site-intro .intro .card-text a:visited {
        text-decoration: none;
        font-weight: 500;
        color: #8489bd;
    }
    
    .site-intro .intro .card-text a:links {
        text-decoration: none;
        font-weight: 500;
        color: #8489bd;
    }
    
    /* Experience table */
    .about-info .table {
        margin-top: 0.5%;
    }
    
    .about-info .table, tr, td {
        border: none;
    }
    
    /* Experience section text */
    .about-area .about-experience {  /* experience table text */
        margin: 0;
        font-size: 0.95rem;
        font-family: 'Poppins', sans-serif;
        transition: transform .2s;
    }

    .about-area .about-experience-heading {
        margin: 0;
        font-size: 1rem;
        font-weight: 700;
        font-family: 'Poppins', sans-serif;
        transition: transform .2s;
        color: #b5b2c5;
    }

    .about-area .about-coursework h3 {
        margin: 43% 0 0 32%;
        position: absolute;
        color: #FFF;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 1.6rem;
    }
    
    .about-area .about-coursework h3::after{
        content: " ";
        height: 1.5px;
        width: 11.2vw;
        background: #FFF;
        display: inline-block;
        margin-left: 5%; /* not align with headings */
        transform: translateY(-7.5px);
    }

    .about-area .about-info .accordion {
        margin-top: -7%;
    }
    
    .about-area .about-info .accordion-item {
        font-family: 'Poppins', sans-serif;
        color: var(--primary-black);
        background: rgb(252, 255, 250);
        font-size: 1.2rem;
        border-radius: 10px;
        margin-bottom: 6px;
    }
    
    .about-area .about-info .accordion-button.collapsed {
        color: #7b81bb;
        background: #FFF;
        opacity: 0.8;
        border-radius: 10px;
        font-weight: 400; /* course name title */
    }
    
    .about-area .about-info .accordion-button:not(.collapsed) {
        color: #7b81bb;
        border: 2.5px solid #7b81bb;
        opacity: 0.8;
        font-weight: 500;
        border-radius: 10px;
        background: #FFF;
    }
    
    .about-area .about-info .accordion-button:not(.collapsed)::after {
        filter: brightness(0%) invert(100%);
    }
    
    .about-area .about-info .accordion-button:focus {
        box-shadow: inherit;
    }
    
    .about-area .about-info .accordion-body {
        background: #FFF; /* content background */
        border-radius: 10px;
        font-size: 0.8rem;
        font-family: 'Poppins', sans-serif;
    }

    /**************************************************************************/
    /***************************** Get in Touch Area **************************/
    /**************************************************************************/
    .bottom-main .about-area {
        background: #393b3f;
        margin-top: 3%;
    }

    .bottom-main .about-area .getInTouch .dot3-1 {
        width: 250px;
        height: 250px;
        background-image: linear-gradient(to left, #fbd77a , #e5cf9b);
        border-radius: 50%;
        margin-left: 33%;
        display: inline-block;
        opacity: 0.9;
        position: relative;
        animation-name: floating;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
    }

    .about-area .getInTouch .dot3-2 {
        display: None;
    }
    .about-area .getInTouch .dot3-2 .about-text-sm {
        display: none;
    }

    .bottom-main .about-area .getInTouch .dot3-1 h3 {
        margin-left: 37%;
        margin-top: 36%;
        margin-bottom: 0;
        position: absolute;
        color: #393b3f;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 1.6rem;
    }

    .bottom-main .about-area .getInTouch .dot3-1 h3::after{
        content: " ";
        height: 1.5px;
        width: 10.5vw;
        background: #393b3f;
        display: inline-block;
        margin-left: 5%; /* not align with headings */
        transform: translateY(-12.5px);
    }

    /* Contact Information Button */
    .bottom-main .about-area .getInTouch-info button {
        background: transparent;
        transition: transform .2s;
        color: #FFF;
        border: 1px solid #AAB3FF;
        border-radius: 50px;
        padding: 15px 30px 15px 30px;
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        font-size: 0.9rem;
        margin: 0 1% 1% 5%;
    }

    .bottom-main .about-area .getInTouch-info button:hover {
        transform: scale(1.05); 
        background: transparent;
        transition: transform .2s;
        color: #FFF;
        border: 1px solid #AAB3FF;
        border-radius: 50px;
        padding: 15px 30px 15px 30px;
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        font-size: 0.9rem;
        margin: 0 1% 1% 5%;
    }

    /* Text Line 1 */

    .bottom-main .about-area .getInTouch-info .getInTouch-ThankYou {
        color: #FFF;
        font-family: 'Poppins', sans-serif;
        font-size: 1rem;
        font-weight: 200;
        margin-top: 4%;
        margin: 0 1% 0 5%;
    }

    /* Text Line 2 */
    .bottom-main .about-area .getInTouch-info .getInTouch-reachMe {
        color: #FFF;
        font-family: 'Poppins', sans-serif;
        font-size: 1rem;
        font-weight: 200;
        margin: 2.8% 1% 3% 5%;
    }

    .bottom-main .about-area .getInTouch-info .copyrights {
        color: rgb(197, 197, 197);
        font-family: 'Outfit', sans-serif;
        opacity: 0.9;
        font-size: 1rem;
        font-weight: 200;
        margin-top: 5%;
        margin-bottom: 2%;
        margin-left: 5%;
    }

}

/* down-pointing arrow */
.site-main ion-icon {
    position: relative;
    color: #8a8989;
    opacity: 0.9;
    font-size: 3rem;
    margin-top: 4.5rem;
    transition: transform .2s;
}

.site-main ion-icon:hover {
    position: relative;
    color: #787777;
    opacity: 0.9;
    font-size: 3rem;
    margin-top: 4.5rem;
    transform: scale(1.1);
}

.site-main ion-icon:visited {
    position: relative;
    color: #8a8989;
    opacity: 0.9;
    font-size: 3rem;
    margin-top: 4.5rem;
}

.site-main ion-icon:links {
    position: relative;
    color: #8a8989;
    opacity: 0.9;
    font-size: 3rem;
    margin-top: 4.5rem;
}
