.project-area .button-group button {
    background: transparent;
    border: none;
    font: normal 300 16px var(--poppins);
    margin: 1rem 0;
    padding-right: 3rem;
}

.project-area .grid .the-project > .skills p {
    font: normal 500 0.9rem var(--openSans);
    color: var(--dark-gray);
}

.project-area .grid .the-project > .description p {
    font: normal 400 0.9rem var(--openSans);
    color: #333;
    line-height: 1.7;
}

.blankSpaceHolder {
    padding: 4% 0; /* spaces between projects */
}
@media screen and (max-width: 767.98px) { /* Small device */
    .project-area {
        padding: 2rem 5% 0 5%;
    }
    /* Project Area */
    .project-area .grid .the-project {
        margin: 0.9rem 0;
    }
    .project-area .grid .the-project .img img.main {
        width: 100%;
        margin-top: 1rem;
    }

    .project-area .grid .the-project > .title h4 {
        font: normal 500 1.5rem var(--poppins);
        padding-bottom: 0.5rem;
    }
    .contact-area {
        margin: 6% 5% 0 5%;
    }
}

@media screen and (min-width: 767.99px) { /* Large device */
    .project-area {
        padding: 4rem 15%;
    }
    .contact-area {
        margin: 6% 15% 0 15%;
    }
    /* Project Area */
    .project-area .grid .the-project {
        margin: 3rem 0;
    }
    .project-area .grid .the-project .img img.main {
        width: 95%;
        margin-top: 0.5rem;
    }
    
    .project-area .grid .the-project > .title h4 {
        font: normal 500 1.4rem var(--poppins);
        padding-bottom: 0.5rem;
    }

}

