@media screen and (max-width: 767.98px) { /* Small device */
    .site-main {
        margin: 0 5%;
    }

    .site-main > .site-intro .banner-img > img {
        margin-right: 2rem;
        width: 100%;
        border-radius: 50%;
        filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
    }
}

@media screen and (min-width: 767.99px) { /* Large device */
    .site-main {
        margin: 0 15%;
    }

    .site-main > .site-intro .banner-img > img {
        margin-right: 2rem;
        width: 90%;
        border-radius: 50%;
        filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
    }
}

.site-main > .site-intro {
    margin-top: 13%;
    margin-bottom: 15%;
}

.site-main > .site-intro .top-intro h5 {
    font: normal 500 1.5rem var(--poppins);
    color: var(--theme-green); 
    margin-left: 2%; /* margin from pfp */
}

.site-main > .site-intro .top-intro p { /* top self-intro text */
    font: normal 300 0.9rem var(--poppins);
    color: var(--primary-black);
    margin-left: 2%; /* margin from pfp */
    text-align: left;
    line-height: 1.7;
}

.site-main > .site-intro .top-intro a:link,
.site-main > .site-intro .top-intro a:visited { /* top self-intro text */
    color: var(--primary-black);
    line-height: 1.7;
    text-decoration: none;
}

.site-main > .site-intro .top-intro a:hover { /* top self-intro text */
    color: var(--theme-green);
    text-decoration: none;
}


/* Experience Area */
.site-main > .experience-area {
    margin-bottom: 12%;
}

.experience-area table {
    margin-left: 1%;
    border: none;
    border-color: transparent;
}

.experience-area table a {
    font: normal 300 0.9rem var(--poppins);
    color: var(--primary-black);
}

.experience-area table .row-heading {
    font: normal 500 0.9rem var(--poppins);
    color: var(--light-gray);
}

.experience-area table tr td {
    font: normal 300 0.9rem var(--poppins);
    color: var(--primary-black);
}

.experience-area table a:visited,
.experience-area table a:link { /* hyperlinks in table */
    font: normal 300 0.9rem var(--poppins);
    color: var(--primary-black);
    text-decoration: none;
}

.experience-area table a:hover { /* hyperlinks in table */
    color: var(--theme-green);
}

.experience-area .title,
.coursework-area .title {
    font: normal 400 1.5rem var(--poppins);
    color: var(--primary-black);
    padding-bottom: 5%;
}


/* Coursework Area */
.site-main > .coursework-area {
    margin-bottom: 15%;
}

/* accordion */
.accordion {
    display: block;
    margin-left: 2%;
}

.coursework-area .content .accordion-item {
    font: normal 300 0.9rem var(--poppins);
    color: var(--primary-black);
    background: rgb(252, 255, 250);
    border-radius: 10px;
    margin-bottom: 6px;
}

.coursework-area .content .accordion-button.collapsed { /* course titles */
    color: var(--theme-green);
    background: #FFF;
    border-radius: 10px;
    font-weight: 400;
    font: normal 500 0.9rem var(--poppins);
}

.coursework-area .content .accordion-button:not(.collapsed) {
    color: var(--theme-green);
    border: 2px solid var(--theme-green);
    border-radius: 10px;
    background: #FFF;
    font: normal 500 0.9rem var(--poppins);
}

.coursework-area .content .accordion-button:not(.collapsed)::after {
    filter: brightness(0%) invert(100%);
}

.coursework-area .content .accordion-button:focus {
    box-shadow: inherit;
}

.coursework-area .content .accordion-body {
    background: #FFF; /* content background */
    font: normal 300 0.9rem var(--poppins);
    border-radius: 10px;
    line-height: 1.6;
}

/* a.codeSample:hover {
    color: var(--theme-green);
    text-decoration: underline;
    text-underline-position: under;
}
a.codeSample,
a.codeSample:visited {
    color: var(--primary-black);
    text-decoration: underline;
    text-underline-position: under;
} */

.accordion-body a,
.accordion-body a:visited {
    text-decoration: underline;
    text-underline-position: under;
    font-family: 'Inconsolata', monospace;
    color: var(--primary-black);
    font-weight: 500;
}

.accordion-body a:hover {
    font-family: 'Inconsolata', monospace;
    color: var(--theme-green);
}