/* Experience Top Area */ 
.site-experience { /* Background */
    background-color: #FFF;
}

.site-experience .experience-area {
    padding: 7rem 2rem;
}

.site-experience .experience-area .experience-title {
    padding: 0 14rem;
}

.site-experience .experience-area .experience-title h1 {
    font-size: 35px;
}

/* three cards */
.site-experience > .experience-area .experience {
    background: #EFF1FD;
    padding: 2rem 0;
    width: 18rem;
    margin: 5rem .5rem;
    margin-left: 14%;
    margin-top: -65px;
    border-radius: 1%;
    /* transition: box-shadow .7s ease; */
    box-shadow: var(--box-shadow);
}

/* .site-experience > .experience-area .experience:hover{
    box-shadow: var(--box-shadow);
} */

.site-experience > .experience-area .experience h5 { /* Three titles in each box */
    margin-bottom: 25px;
    margin-top: 8px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}


.site-experience > .experience-area .experience p { /* Text in boxes */
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    color: var(--primary-black);
}

/* Experience Section Top */
.semi-circle-exp {
    margin-top: -6%;
    width: 370px;
    height: 330px; /* as the half of the width */
    background-color: #F6C6BC;
    border-radius: 50%; /* 100px of height + 10px of border */
    border: 10px solid #F6C6BC;
    border-bottom: 0;
    margin-left: -220px;
    opacity: 0.9;
    position: relative;
    /* animation: slideIn 3s ease-in;
    animation-delay: 0s; */
    animation-name: floating;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.experience-intro h1 { /* Experience title */
    font-size: 6vw;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    margin-top: 100px;
    margin-left: 280px;
}

.experience-intro a:link {
    text-decoration:none; 
    color: var(--second-black);
}

.experience-intro a:hover {
    text-decoration:none; 
    color: var(--second-black);
}

.experience-intro a:visited {
    text-decoration:none; 
    color: var(--second-black);
}

.experience-intro a:hover {
    text-decoration:none; 
    color: var(--second-black);
}




/******************************************************************************/
/************************** General Project Area ******************************/
/******************************************************************************/




/******************************************************************************/
/************************** 1. Web Dev Area ***********************************/
/******************************************************************************/

/* background of web dev project */
.site-experience .webdev-area {
    padding: 6rem 2rem;
    background-color: #393939;
    opacity: 0.9;
}

/* Data Science & Engineering title */
.site-experience .webdev-area .webdev-title {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 32px;
    margin-top: 1%;
}









/***************************************************************************/
/************************** 2. Data Science Area ***************************/
/***************************************************************************/

/* background */
.site-experience .data-area {
    padding: 6rem 2rem;
    background-color: #faf4f3;
    opacity: 0.9;
}

/* title */
.site-experience .data-area .data-title {
    color: var(--primary-black);
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 32px;
    margin-top: 1%;
    color: #333;
}

.site-experience .data-area .grid .the-project > .title h4 {
    font-family: 'Inconsolata', monospace;
    font-weight:400;
    font-size: 18px;
    color: #333;
}


/*******************************************/
/***** Show Text when Hovering Image *******/
/*******************************************/

/* Parent Container */
.site-experience .data-area .grid .the-project .img {
    position: relative;
}

/* Child Text Container */
.site-experience .data-area .grid .the-project .img div {
    position: absolute;
    bottom: 0;
    right: 0;
    background: black;
    color: white;
    opacity: 0;
    visibility: hidden;
}

/* Hover on Parent Container */
.site-experience .data-area .grid .the-project .img:hover {
    cursor: pointer;
}    

.site-experience .data-area .grid .the-project .img:hover div {
    width: 100%;
    height:100%;
    visibility: visible;
    opacity: 0.9;        
    -webkit-transition: border-radius 2s;
    transition: visibility 0s, opacity 0.2s linear;
    -webkit-transition: padding 2s;
    transition: visibility 0s, opacity 0.2s linear;
}

.site-experience .data-area .grid .the-project .img .project-description {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    padding: 33% 20px 35% 20px;
    text-align: center;
}


/******************************************************************************/
/************************** 3. Software Engineering Area **********************/
/******************************************************************************/

/* background */
.site-experience .cs-area {
    padding: 6rem 2rem;
    background-color: #708294;
    opacity: 0.9;
}

/* title */
.site-experience .cs-area .cs-title {
    color: var(--primary-black);
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 32px;
    margin-top: 1%;
    color: #FFF;
}

.site-experience .cs-area .grid .the-project > .title h4 {
    font-family: 'Inconsolata', monospace;
    font-weight: 400;
    font-size: 18px;
    color: #FFF;
}


/*******************************************/
/***** Show Text when Hovering Image *******/
/*******************************************/

/* Parent Container */
.site-experience .cs-area .grid .the-project .img {
    position: relative;
}

/* Child Text Container */
.site-experience .cs-area .grid .the-project .img div {
    position: absolute;
    bottom: 0;
    right: 0;
    background: black;
    color: white;
    font-family: sans-serif;
    opacity: 0;
    visibility: hidden;
}

/* Hover on Parent Container */
.site-experience .cs-area .grid .the-project .img:hover {
    cursor: pointer;
}    

.site-experience .cs-area .grid .the-project .img:hover div {
    width: 100%;
    height:100%;
    visibility: visible;
    opacity: 0.9;        
    -webkit-transition: border-radius 2s;
    transition: visibility 0s, opacity 0.2s linear;
    -webkit-transition: padding 2s;
    transition: visibility 0s, opacity 0.2s linear;
}

.site-experience .cs-area .grid .the-project .img .project-description {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    padding: 33% 20px 35% 20px;
    text-align: center;
}


/******************************************************************************/
/************************ Individual  Project Page ****************************/
/******************************************************************************/

.carousel {
    overflow: hidden;
    border-radius: 2px;
    position: relative;
    padding-top: 5rem;
    /* max-width: 50%; */
    /* margin: 1em; */
    height: 530px;
    /* margin-bottom: 12%; */
}

.carousel-control-prev-icon, .carousel-control-next-icon{
    margin-top: 50%;
}

/* The block next to carousel */
.project-intro {
    margin-top: 5rem;
    background-color: var(--second-blue);
    opacity: 0.8;
    /* margin-bottom: 6.3%; */
    /* margin-bottom: 4px; */
}

.project-title {
    margin-top: 35%;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    color: #FFF;
    font-weight: 300;
    margin-left: 5%;
}

.project-descrip {
    padding-top: 2%;
    padding-right: 5%;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    color: #FFF;
    font-weight: 200;
    margin-left: 5%;
}

/* Table Styling */
table {
	width: 100%;
	margin: auto;
	table-layout: auto;
}

th {
	height: 30px;
	font-weight: bold;
    text-align: left;
    font-family: 'Inter', sans-serif;
}

th, td {
	padding: 2px;
	text-align: center;
	color: #333333;
    text-align: left;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    padding: 8px 0;
}

.dot-project{
    width: 250px;
    height: 250px;
    background-color: var(--primary-blue);
    border-radius: 50%;
    margin-left: 9rem;
    display: inline-block;
    opacity: 0.8;
    position: relative;
    margin-top: 12%;
    margin-bottom: 12%;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.project-info {
    margin-top: 10%;
    margin-left: 0;
    font-size: 18px;
    font-weight: 300;
}

.dot-project2 {
    width: 250px;
    height: 250px;
    background-color: var(--second-blue);
    border-radius: 50%;
    margin-left: 9rem;
    display: inline-block;
    opacity: 0.8;
    position: relative;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.project-secondary-descrip{
    padding-top: 2%;
    padding-right: 5%;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    color: rgb(245, 236, 252);
    font-weight: 300;
    margin-left: 5%;
}

/* unvisited link */
.light-link a:link {
    color: #FFF;
    text-decoration:none; 
    font-weight:300;
  }
  
/* visited link */
.light-link a:visited {
    color: #FFF;
    text-decoration:none; 
    font-weight:300;
}
  
/* mouse over link */
.light-link a:hover {
    color: #FFF;
    text-decoration:none; 
    font-weight:500;
}
  
/* selected link */
.light-link a:active {
    color: var(--primary-black);
    text-decoration:none; 
    font-weight:300;
}

/* unvisited link */
.dark-link a:link {
    color: var(--primary-black);
    text-decoration:none; 
    font-weight:300;
  }
  
/* visited link */
.dark-link a:visited {
    color: var(--primary-black);
    text-decoration:none; 
    font-weight:300;
}
  
/* mouse over link */
.dark-link a:hover {
    color: var(--primary-black);
    text-decoration:none; 
    font-weight:500;
}
  
/* selected link */
.dark-link a:active {
    color: var(--primary-black);
    text-decoration:none; 
    font-weight:300;
}


/******************************************************************************/
/********************************* Arrow Icons ********************s************/
/******************************************************************************/

/* arrow icon */
.site-experience .data-area .light-up {
    position: relative;
    color: #333;
    font-size: 35px;
    margin-top: 4%;
}

/* arrow icon */
.site-experience .webdev-area .dark-up {
    position: relative;
    color: #FFF;
    font-size: 35px;
    margin-top: 4%;
}

/* arrow icon */
.site-experience .cs-area .dark-up {
    position: relative;
    color: #FFF;
    font-size: 35px;
    margin-top: 4%;
}
