/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400&family=Inter:wght@100;200;300;400&family=Montserrat:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600&display=swap');
/* import css variables */
@import  url(partials/_variables.css);
/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Inter', sans-serif; */
/* font-family: 'Inconsolata', monospace; */
/* font-family: 'Poppins', sans-serif; */

body {
    animation: fadeIn ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
  
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

@keyframes slideIn {
    0% {
        transform: translateX(-500px);
    }
    60% {
        transform: translateX(0px);
    }
    62% {
        transform: translateX(20px);
    }
}

@keyframes slideDown {
    0% {
        transform: translateY(-500px);
    }
    60% {
        transform: translateY(0px);
    }
    62% {
        transform: translateY(20px);
    }
}
 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 10px); }
    100%   { transform: translate(0, -0px); }   
}



/******************************************************************************/
/******************************** Footer Area *********************************/
/******************************************************************************/

@media (min-width: 400px) { /* Small device */
    footer.footer-area {
        padding: 3% 0;
        background: #333333;
        margin-top: 1rem;
    }

    footer.footer-area .social a > ion-icon {
        font-size: 22px;
        padding: 1rem;
        color: #FFF;
        transition: transform .2s;
    }

    footer.footer-area .social a:hover > ion-icon {
        color: #FFF;
        transform: scale(1.1); 
    }

    /* Navigation Bar */
    .navbar {
        opacity: 0.9;
        margin-top: 0;
    }

    .navbar-brand {  /* joanne tsai */
        padding: 0.5rem 1rem 0.5rem 6vw;
        font-family: 'Poppins', sans-serif;
        font-size: 22px;
        font-weight: 600;
        color: var(--primary-black);
    }

    .navbar-nav {
        margin-right: 25%; /* distance between right border and last nav item */
        font-family: 'Poppins', sans-serif;
        font-size: 17px;
        font-weight: 300;
        color: var(--primary-black);
    }

    .nav-item { /* nav tabs */
        padding: 0.9rem 0 0.5rem 2.8rem;
    }

    .nav-item .active {
        text-decoration: underline;
        text-underline-position: under;
    }

}
@media (min-width: 992px) { /* Large device */
    footer.footer-area {
        background: #595958;
        margin-top: 3%;
    }

    /* Navigation Bar */
    .navbar {
        color: #FFF;
    }

    .navbar-brand {  /* joanne tsai */
        padding: 0.6rem 0 0.6rem 4.6%;
        font-family: 'Outfit', sans-serif;
        font-size: 1.5rem;
        font-weight: 300;
    }

    .nav-item { /* nav tabs */
        padding: 0.6rem 15% 0.5rem 0;
    }

    .navbar-nav {
        margin-top: 0;
        margin-right: 10%; /* distance between right border and last nav item */
        font-family: 'Outfit', sans-serif;
        font-size: 1.2rem;
        font-weight: 200;
    }

    .nav-item .active {
        text-decoration: underline;
        text-underline-position: under;
    }

}



