/* work Top Area */ 
.site-work { /* Background */
    background-color: #FFF;
}

@media (min-width: 400px) { /* Small device */
    .grid { /* distance between grid and the page borders */
        margin-right: 5%;
        margin-left: 5%;
    }

    .the-project .img {
        margin: 10rem 0 0 0;
    }
    .the-project .img-1 {  /* the first image */
        margin: 4rem 0 0 0;
    }

    .site-work .project-area .grid .the-project .img-1 .img-main {
        position: relative;
        display: block;
        margin: 10% auto 0 auto;
        width: 80%;
    }

    /* .site-work .project-area .grid .the-project .img-1 .img-hover {
        position: relative;
        display: block;
        margin: 5% auto 0 auto;
        width: 70%;
        /* position: absolute;
        margin: 4% 5% 0 5%;
        width: 70%;
        object-fit: contain;
        opacity: 0;
        transition: opacity .5s; */
    /* } */

    /* .site-work .project-area .grid .the-project .img-1:hover img.img-hover {
        opacity: 1;
    } */
    
    .site-work .project-area .grid .the-project .img img.img-main {
        position: relative;
        display: block;
        margin: 0 auto 0 auto;
        width: 70%;
    }
    
    /* .site-work .project-area .grid .the-project .img img.img-hover {
      position: absolute;
      object-fit: contain;
      opacity: 0;
      transition: opacity .5s;
      width: 2rem;
      height: auto;
      margin: 0 auto 0 auto;
      display:flexbox;
    } */
    
    /* .site-work .project-area .grid .the-project .img:hover img.img-hover {
      opacity: 1;
    } */

    /* project names */
    .site-work .project-area .grid .the-project > .title h4 {
        font-family: 'Poppins', sans-serif;
        color: var(--primary-black);
        font-size: 1.6rem;
        margin: 1rem auto 0 auto;
    }

    .site-work .project-area .grid .the-project > .skills p {
        font-family: 'Open Sans', sans-serif;
        color: #8f8f8f;
        font-size: 1rem;
        font-style: italic;
    }

    .site-work .project-area .grid .the-project .description {
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        font-size: 0.9rem;
        line-height: 1.8;
        margin-bottom: 2.5%;
    }

    .site-work .project-area .grid .the-project .img .background {
        display: block;
        margin: 0 auto 0 auto;
        width: 100%;
        background: #555;
    }
}

@media (min-width: 992px) { /* Large device */
    .grid { /* distance between grid and the page borders */
        margin-right: 9.5%;
        margin-left: 9.5%;
    }
    .the-project {
        margin: 18% 0 0 0;
    }
    .site-work .project-area .grid .the-project .description {
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        margin-left: 2rem;
    }
    .site-work .project-area .grid .the-project .img-1 img.main {
        position: absolute;
        width: 20rem;
        height: auto;
        margin: 9rem 3rem 0 0;
    }
    .site-work .project-area .grid .the-project .img-1 img.hover {
        position: absolute;
        object-fit: contain;
        opacity: 0;
        transition: opacity .5s;
        width: 20rem;
        height: auto;
        margin: 9rem 3rem 0 0;
    }
    .site-work .project-area .grid .the-project .img-1:hover img.hover {
        opacity: 1;
    }

    .site-work .project-area .grid .the-project .img img.main {
        position: absolute;
        width: 20rem;
        height: auto;
        margin: 0 3rem 0 0;
    }
    .site-work .project-area .grid .the-project .img img.hover {
        position: absolute;
        object-fit: contain;
        opacity: 0;
        transition: opacity .5s;
        width: 20rem;
        height: auto;
        margin: 0rem 3rem 0 0;
    }
    .site-work .project-area .grid .the-project .img:hover img.hover {
        opacity: 1;
    }
    
    /* project names */
    .site-work .project-area .grid .the-project > .title h4 {
        font-family: 'Outfit', sans-serif;
        color: var(--primary-black);
        font-size: 1.7rem;
        margin-left: 2rem;
        margin-top: 0.5rem;
    }

    .site-work .project-area .grid .the-project > .skills p {
        font-family: 'Open Sans', sans-serif;
        color: #8f8f8f;
        font-size: 1rem;
        font-style: italic;
        margin-left: 2rem;
    }

    .blankspace {  /* for adding white space */
        padding: 2rem;
    }

/******************************************************************************/
/****************************** Get in Touch Area *****************************/
/******************************************************************************/
    /* Get in Touch text */
    .bottom-main .about-area {
        background: #393b3f;
        margin-top: 3%;
    }

    .bottom-main .about-area .getInTouch .dot3-1 {
        width: 250px;
        height: 250px;
        background-image: linear-gradient(to left, #fbd77a , #e5cf9b);
        border-radius: 50%;
        margin-left: 33%;
        display: inline-block;
        opacity: 0.9;
        position: relative;
        animation-name: floating;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
    }

    .about-area .getInTouch .dot3-2 {
        display: None;
    }
    .about-area .getInTouch .dot3-2 .about-text-sm {
        display: none;
    }

    .bottom-main .about-area .getInTouch .dot3-1 h3 {
        margin-left: 37%;
        margin-top: 36%;
        margin-bottom: 0;
        position: absolute;
        color: #393b3f;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 1.6rem;
    }

    .bottom-main .about-area .getInTouch .dot3-1 h3::after{
        content: " ";
        height: 1.5px;
        width: 10.5vw;
        background: #393b3f;
        display: inline-block;
        margin-left: 5%; /* not align with headings */
        transform: translateY(-12.5px);
    }

    /* Contact Information Button */
    .bottom-main .about-area .getInTouch-info button {
        background: transparent;
        transition: transform .2s;
        color: #FFF;
        border: 1px solid #AAB3FF;
        border-radius: 50px;
        padding: 15px 30px 15px 30px;
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        font-size: 0.9rem;
        margin: 0 1% 1% 5%;
    }

    .bottom-main .about-area .getInTouch-info button:hover {
        transform: scale(1.05); 
        background: transparent;
        transition: transform .2s;
        color: #FFF;
        border: 1px solid #AAB3FF;
        border-radius: 50px;
        padding: 15px 30px 15px 30px;
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        font-size: 0.9rem;
        margin: 0 1% 1% 5%;
    }

    /* Text Line 1 */

    .bottom-main .about-area .getInTouch-info .getInTouch-ThankYou {
        color: #FFF;
        font-family: 'Poppins', sans-serif;
        font-size: 1rem;
        font-weight: 200;
        margin: 0 1% 0 5%;
    }

    /* Text Line 2 */
    .bottom-main .about-area .getInTouch-info .getInTouch-reachMe {
        color: #FFF;
        font-family: 'Poppins', sans-serif;
        font-size: 1rem;
        font-weight: 200;
        margin: 2.8% 1% 3% 5%;
    }

    .bottom-main .about-area .getInTouch-info .copyrights {
        color: rgb(197, 197, 197);
        font-family: 'Outfit', sans-serif;
        opacity: 0.9;
        font-size: 1rem;
        font-weight: 200;
        margin-top: 10%;
        margin-bottom: 2%;
        margin-left: 5%;
    }

    .view-demo-button button {
        transition: transform .2s;
        color: #5762c3;
        font-family: 'Poppins', sans-serif;
        font-size: 0.9rem;
        background-color: rgb(253, 252, 252);
        border: 2px solid #5762c3;
        border-radius: 8px;
        opacity: 0.8;
        padding: 6px 18px 6px 18px;
        margin: 0.5rem 0 0 2rem;
    }
    
    .view-demo-button button:hover {
        transform: scale(1.05); 
        transition: transform .2s;
        color: #5762c3;
        font-family: 'Poppins', sans-serif;
        font-size: 0.9rem;
        background-color: rgb(253, 252, 252);
        border: 2px solid #5762c3;
        border-radius: 8px;
        opacity: 0.8;
        padding: 6px 18px 6px 18px;
        margin: 0.5rem 0 0 2rem;
    }

    .view-demo-button button:visited {
        transition: transform .2s;
        color: #5762c3;
        font-family: 'Poppins', sans-serif;
        font-size: 0.9rem;
        background-color: rgb(253, 252, 252);
        border: 2px solid #5762c3;
        border-radius: 8px;
        opacity: 0.8;
        padding: 6px 18px 6px 18px;
        margin: 0.5rem 0 0 2rem;
    }

    .view-demo-button button:links {
        transition: transform .2s;
        color: #5762c3;
        font-family: 'Poppins', sans-serif;
        font-size: 0.9rem;
        background-color: rgb(253, 252, 252);
        border: 2px solid #5762c3;
        border-radius: 8px;
        opacity: 0.8;
        padding: 6px 18px 6px 18px;
        margin: 0.5rem 0 0 2rem;
    }
}


.project-area {
    margin-bottom: 8%; /* distance from footer */
}
     