html, body {
    margin: 0%;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

/* CSS Variables */

:root {
    --primary-black: #1b1b1b;
    --second-black: #393939;
    --light-gray: rgb(182, 182, 182);
    --dark-gray: rgb(135, 135, 135);
    --box-shadow: 0px 10px 30px rgba(78, 77, 84, 0.205);

    --theme-green: #869d7b;
    --light-green: rgb(112, 157, 90);

    --poppins: 'Poppins', sans-serif;
    --openSans: 'Open Sans', sans-serif;
}